@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@700&display=swap');

body{
    font-family: "Effra", "Calibre", "Roboto", "Arial", "Helvetica", sans-serif;
    font-size: 12pt;
}
body a{
    text-decoration: none !important;
}

.font-color{
    color: rgb(241, 38, 106);
}

.header-bg{
    background-color: rgba(0, 0, 0, 0.6);
    opacity: .9;
}
.navbar-manual a{
    color: white !important;
    font-weight: bold;
    transition: 0.3s;
}

.navbar-ul li a:hover{
    border-radius: 10px;
    background-color: white;
    color: black !important;
    transform: scale(1.1);
    opacity: .9;
    filter: blur(0);
}
.resumo:hover{
    background-color: white;
    color: black !important;
}
.paraliser{
    background-image: url('../img/imgfundo.jpg');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    height: 100%;
}
.overlay{
    background-color: rgba(20, 20, 20, 0.6);
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 0;
    width: 100%;
    height: 100%;
    opacity: .9;
}
.paraliser .typed-css-titulo{
    font-size: 30pt !important;
    font-weight: 600 !important;
    color: white !important;
    letter-spacing: 3px;
    z-index: 1 !important;
}
.paraliser .typed-css-subti{
    font-size: 20pt !important;
    font-weight: 600 !important;
    color: white !important;
    letter-spacing: 3px;
    z-index: 1 !important;
}

.setaBaixo{
    background-image: url(../img/seta.png);
    width: 40px;
    height: 40px;
    background-size: contain;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;

    animation-name: setaBaixo;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes setaBaixo{
    0%{
        bottom:60px
    }
    100%{
        bottom: 40px
    }
}

.section-sobre, .section-habilidades, .section-projetos, .section-contato{
    background-color: rgb(231, 231, 231);
}

/*
    Habilidades
*/
.grid-container{
    display: grid;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    margin-top: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.grid-card{
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 10px 30px -10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-size: 12pt;
    font-weight: bold;
}


.card-content{
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 1.3rem;
}

.card-content-title{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*
    Projetos
*/

.projeto-grid{
    display: grid;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    margin-top: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.projetos-grid-card{
    display: grid;
    background-color: white;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 10px 30px -10px;
}
.projetos-grid-card .card-link{
    color: black;
}

.card-link .card-img{
    width: 150px;
    height: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
    object-fit: cover;
}

.card-img{
    border-radius: 100%;
    cursor: pointer;
    box-shadow: 0 5px 10px #21212133;
}

/*
    Contato
*/

.style-contato-content{
    padding: 10px !important;
}

/*
    Media Mobile 576px
*/

@media(max-width: 576px){

    .header-bg{
        background-color: rgba(0, 0, 0, 0.6) !important;
        opacity: .9;
    }

    #logo a{
        color: white !important;
    }
    .nav-collapsada{
        background-color:white;
    }
    .navbar-ul{
        display: block !important;
        text-align: center !important;
    }
    .navbar-ul li a:hover{
        background-color: rgba(0, 0, 0, 0.2);
    }
    .navbar-manual a{
        font-size:14pt !important;
        color: black !important;
        display: block !important;
    }
    .resumo{
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
        background-color: white !important;
        color: black !important;
        background-color: rgba(0, 0, 0, 0.2) !important;
        font-size: 14pt !important;
        margin-bottom: 13px !important; 
    }

    .social div{
        display: grid;
        justify-content: center;
        margin: 25px;
    }
    #minhafoto{
        width: 100% !important;
    }
}